body {
   background-color: #eaf6f6;
}
body {
   color: #66bfbf;
 }

 h1 {
   color: #66bfbf;
 }

 h3 {
   color: #a393eb;
 }

 h2 {
   color: #a393eb;
 }

img {
  height: 165px;
}
hr  {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
